/* Normal, standard links. */
a:link
{
        color: #e0ffe0;
        text-decoration: none;
}
a:visited
{
        color: #e0e0ff;
        text-decoration: none;
}
a:hover
{
        color: #fff080;
        text-decoration: none;
}

/* Navigation links - for the link tree. */
.nav  , .nav:link , .nav:visited
{
        font-family: tahoma, helvetica, serif;
        font-size: 8pt;
        color: #e0e0e0;
        text-decoration: none;
}
.nav:hover
{
        font-family: tahoma, helvetica, serif;
        font-size: 8pt;
        color: #fff080;
        text-decoration: none;
}

/* Tables should show empty cells. */
table
{
        empty-cells: show;
}

/* By default (td, body..) use Tahoma in black. */
body, td
{
        color: #ffffff;
        font-size: small;
        font-family: verdana, helvetica, serif;
}

/* The main body of the entire forum. */
body
{
        background-color: #000000;
        margin-top: 10px;
        padding: 0px;
}

/* Input boxes - just a bit smaller than normal so they align well. */
input,button
{
       border: solid 1px #909090;
        background-color: #282525;
        font-size: 9pt;
        color: #d0d0d0;
        font-family: tahoma, helvetica, serif;
}
/* All input elements that are checkboxes or radio buttons. */
textarea
{
       border: solid 1px #909090;
        background-color: #282525;
        font-size: 9pt;
        color: #d0d0d0;
        font-family: verdana, helvetica, serif;
}
/* All input elements that are checkboxes or radio buttons. */
input.check
{
        border: solid 0px #909090;
        background-color: transparent;
        color: black;
}

/* Selects are a bit smaller, because it makes them look even better 8). */
select
{
        background-color: #202020;
        font-size: 8pt;
        font-weight: normal;
        color: white;
        font-family: tahoma, helvetica, serif;
}

/* Standard horizontal rule.. ([hr], etc.) */
hr, .hrcolor
{
        height: 1px;
        border: 0;
        color: #808080;
        background-color: #000000;
}

/* A quote, perhaps from another post. */
.quote
{
        color: #ffffff;
        background-color: #404d50;
        border: 1px solid #c0c0c0;
        margin: 1px;
        padding: 1px;
        font-size: x-small;
}

/* A code block - maybe even PHP ;). */
.code
{
        color: white;
        background-color: #707070;
        border: 1px solid #d0d0d0;
        padding: 1px;
        font-family: "courier new", helvetica, "times new roman", serif;
        font-size: x-small;
        width: 99%;
        margin: 1px auto 1px auto;
        white-space: nowrap;
        overflow: auto;
}

/* The "Quote:" and "Code:" header parts... */
.quoteheader, .codeheader
{
        color: #ffffff;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-size: x-small;
}

/* Generally, those [?] icons.  This makes your cursor a help icon. */
.help
{
        cursor: help;
}

/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction
{
        color: #ff0000;
}

/* The main post box - this makes it as wide as possible. */
.editor
{
        width: 96%;
}

/* Highlighted text - such as search results. */
.highlight
{
        background-color: #807000;
        font-weight: bold;
        color: #ffffff;
}

/* Alternating backgrounds for posts, and several other sections of the forum. */
.windowbg
{
        font-family: verdana, helvetica, serif;
        color: #ffffff;
        background-color: #303030;
}
.windowbg2
{
        font-family: verdana, helvetica, serif;
        color: #ffffff;
        background-color: #404040;
}

/* All the signatures used in the forum.  If your forum users use Mozilla, Opera, or Safari, you might add max-height here ;). */
.signature
{
}

/* These are used primarily for titles, but also for headers (the row that says what everything in the table is.) */
.titlebg, tr.titlebg td
{
        background-color: #303030;
        font-weight: bold;
        color: #e0e0e0;
        font-style: normal;
        background-image: url(images/pod/titlebg.gif);

}
.titlebg a:hover
{

        color: #f0e080;
}

/* This is used for categories, page indexes, and several other areas in the forum. */
.catbg
{
        background-color: #383838;
        background-image: url(images/pod/catbg.gif);
}

/* This is used for a category that has new posts in it... to make it light up. */
.catbg2
{
        background-image: url(images/pod/catbg2.gif);
}

.catbg, .catbg2
{
        font-weight: bold;
        color: #ffffff;
}

.catbg:link , .catbg2:link
{
        font-weight: bold;
        color: #ffffff;
}
.catbg:hover , .catbg2:hover
{
        font-weight: bold;
}/* This is used for tables that have a grid/border background color (such as the topic listing.) */
.bordercolor
{
        background-color: #404040;
}

/* This is used on tables that should just have a border around them. */
.tborder
{
        color: #404040;
        padding: 2px;
}

/* Default font sizes: small (8pt), normal (10pt), and large (14pt). */
.smalltext
{
        font-size: 8pt;
        font-family: tahoma, helvetica, serif;
}
.normaltext
{
        font-size: small;
}
.largetext
{
        font-size: large;
}

/* This is the white header area where the title, menu bars, and header boxes are. */
#headerarea
{
        background-color: #000000;
        border-bottom: 1px solid gray;
}
/* This is the main area of the forum, the part that's gray. */
#bodyarea
{
        background-color: #000000;
}
/* And this is the bottom, where the copyright is, etc. */
#footerarea
{
        color: #000000;
        background-color: #ffffff;
        border-top: 1px solid #000000;
}

/* This is for the special header boxes on the top (user info, key stats, news box.) */
.headertitles
{
        background-color: #6B8EAE;
        border: 1px solid #6B8EAE;
}
.headerbodies
{
        border: 1px solid #7A7777;
        background-color: #EFEFEF;
        background-repeat: repeat-x;
        background-position: bottom;
}
