/* Themes */
/* ******************************************************* */
html
{
	background: #1C881B;
}
#topframe
{
	background: url(images/theme_green/back_top.jpg) repeat-x top left;
}
#contentframe
{
}
#botframe
{
	background: url(images/theme_green/back_bot.jpg) repeat-x top left;
}
