/* Themes */
/* ******************************************************* */
html
{
	background: #A93D3D;
}
#topframe
{
	background: url(images/theme_red/back_top.jpg) repeat-x top left;
}
#contentframe
{
}
#botframe
{
	background: url(images/theme_red/back_bot.jpg) repeat-x top left;
}
