body
{
	background: url(../images/backgrounds/grafitti.jpg) no-repeat;
}
#mainframe h1
{
	margin: 10px 0 20px 10px;
}
#mainframe #linktree
{
	padding: 0px 10px 18px 10px;
}
#upshrinkHeader
{
	padding: 0 0 1em 10px;
}
#content
{
	background: url(../images/theme/content2.png);
}