/* theme specific css */
.colortext{
	color: #a31f1f;
}
.mynav{
	background: url(../images/_blue/breadbg.png) repeat-x;
}
.mynav li span.oute{
	background: url(../images/_blue/breadbg.png) repeat-x;
}
.mynav li:hover span.oute{
	background: url(../images/_blue/breadselect.png) repeat-x;
}
.mynav li.last{
	background: url(../images/_blue/breadselect.png) repeat-x top center;
}
.mynav li.last span.oute{
	background: url(../images/_blue/breadselect2.png) no-repeat top center;
}
#footersection{
	background: url(../images/_blue/footerbg.png) repeat-x;
}


#mainmenu,
#admin_menudrop
{
	background: url(../images/_blue/menubg.png) repeat-x;	
}
.dropmenu
{
	background: url(../images/_blue/menubg_menu.png) repeat-x;	
}
.dropmenu li.activefirst a.firstlevel,
.dropmenu li a.firstlevel:hover,
.dropmenu li.activefirst a.firstlevel:hover
{
	background: url(../images/_blue/menubg_selected.png) repeat-x;
}
.dropmenu li ul
{
	background: url(../images/_blue/menubg_extra.png)  #fff no-repeat;
}
.dropmenu li a.firstlevel:hover, .dropmenu li:hover a.firstlevel
{
	background: url(../images/_blue/menubg_selected.png) repeat-x;
}
