#right 
{ 
	background: url(images/theme/green/rightfull.jpg) no-repeat top right; 
	min-width: 923px;
}
#left 
{ 
	background: url(images/theme/green/leftfull.jpg) no-repeat top left; 
	padding: 89px 11px 0 13px;
	min-height: 520px;
	min-width: 700px;
}
#footer 
{ 
	margin: 0 11px 0 13px;
	background: url(images/theme/green/bot.jpg) repeat-x #000; 
}
