/* TP specific classes */
.sitemap{
	margin: 0;
	padding: 0;
	list-style: none;
}
.sitemap_topheader{
	background: #ECEDF3;
	border-bottom: solid 1px #ffffff;
	padding: 4px;
}

.sitemap_header{
	background: #ECEDF3;
	border-bottom: solid 1px #ffffff;
	padding: 4px;
	display: block;
	font-weight: bold;
 }

.sitemap_header_active{
	background: #C8D6E1;
	border-bottom: solid 1px #ffffff;
	padding: 4px;
	display: block;
	font-weight: bold;
}

.sitemap_header:hover , .sitemap_header_active:hover{
	background: #DBE4ED;
	border-bottom: solid 1px #ffffff;
	padding: 4px;
	display: block;
	text-decoration: none;
}

/* TP other styles */
ul#articlelist
{
	margin: 0;
	padding: 0.5ex 0;
	list-style: none;
}
ul#catlist
{
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: solid 1px #d0d0d0;
}

ul#articlelist li
{
	margin: 0;
	display: block;
	padding: 0 0 0 3ex;
	background: url(images/divider.gif) no-repeat 5px 3px;
}
ul#catlist li
{
	display: block;
	padding: 0 0 0 3ex;
	margin: 0;
}

/* TP rss feed styles */
.rss_title{
 font-weight: bold;
}

.rss_body{
	margin-bottom: 1ex;
}

.rss_image{
	margin: 4px 0 4px 0;
}
/* Normal, standard links. */
a:link
{
	color: #476C8E;
	text-decoration: none;
}
a:visited
{
	color: #476C8E;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}

/* Navigation links - for the link tree. */
.nav, .nav:link, .nav:visited
{
	color: #000000;
	text-decoration: none;
}
a.nav:hover
{
	color: #cc3333;
	text-decoration: underline;
}

/* Tables should show empty cells. */
table
{
	empty-cells: show;
}

/* By default (td, body..) use verdana in black. */
body, td, th , tr
{
	color: #000000;
	font-size: small;
	font-family: verdana, sans-serif;
}

/* The main body of the entire forum. */
body
{
	background-color: white;
	margin: 0;
	padding: 0;
}

/* Input boxes - just a bit smaller than normal so they align well. */
input, textarea, button
{
	color: #000000;
	font-family: verdana, sans-serif;
}
input, button
{
	font-size: 90%;
}

textarea
{
	font-size: 100%;
	color: #000000;
	font-family: verdana, sans-serif;
}

/* All input elements that are checkboxes or radio buttons. */
input.check
{
}

/* Selects are a bit smaller, because it makes them look even better 8). */
select
{
	font-size: 90%;
	font-weight: normal;
	color: #000000;
	font-family: verdana, sans-serif;
}

/* Standard horizontal rule.. ([hr], etc.) */
hr, .hrcolor
{
	height: 1px;
	border: 0;
	color: #666666;
	background-color: #666666;
}

/* No image should have a border when linked */
a img
{
	border: 0;
}
/* A quote, perhaps from another post. */
.quote
{
	color: #000000;
	background-color: #D7DAEC;
	border: 1px solid #000000;
	margin: 1px;
	padding: 1px;
	font-size: x-small;
	line-height: 1.4em;
}

/* A code block - maybe even PHP ;). */
.code
{
	color: #000000;
	background-color: #dddddd;
	font-family: "courier new", "times new roman", monospace;
	font-size: x-small;
	line-height: 1.3em;
	/* Put a nice border around it. */
	border: 1px solid #000000;
	margin: 1px auto 1px auto;
	padding: 1px;
	width: 99%;
	/* Don't wrap its contents, and show scrollbars. */
	white-space: nowrap;
	overflow: auto;
	/* Stop after about 24 lines, and just show a scrollbar. */
	max-height: 24em;
}

/* The "Quote:" and "Code:" header parts... */
.quoteheader, .codeheader
{
	color: #000000;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: x-small;
	line-height: 1.2em;
}

/* Generally, those [?] icons.  This makes your cursor a help icon. */
.help
{
	cursor: help;
}

/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction
{
	color: red;
}

/* The main post box - this makes it as wide as possible. */
.editor
{
	width: 96%;
}

/* Highlighted text - such as search results. */
.highlight
{
	background-color: yellow;
	font-weight: bold;
	color: black;
}

/* Alternating backgrounds for posts, and several other sections of the forum. */
.windowbg
{
	color: #000000;
	background-color: #eaeaec;
}
.windowbg2
{
	color: #000000;
	background-color: #e5e5e5;
}
.windowbg3
{
	color: #000000;
	background-color: #D1E0D6;
}
/* the today container in calendar */
.calendar_today
{
	background-color: #FFFFFF;
}

/* These are used primarily for titles, but also for headers (the row that says what everything in the table is.) */
.titlebg, tr.titlebg th, tr.titlebg td, .titlebg2, tr.titlebg2 th, tr.titlebg2 td
{
	color: black;
	font-style: normal;
	background: #FFE3C4;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: solid 1px white;
}
.titlebg, .titlebg a:link, .titlebg a:visited
{
	font-weight: bold;
	color: black;
	font-style: normal;
}

.titlebg a:hover
{
	color: #404040;
}
/* same as titlebg, but used where bold text is not needed */
.titlebg2 a:link, .titlebg2 a:visited
{
	color: black;
	font-style: normal;
	text-decoration: underline;
}

.titlebg2 a:hover
{
	text-decoration: underline;
}

/* This is used for categories, page indexes, and several other areas in the forum.
.catbg and .catbg2 is for boardindex, while .catbg3 is for messageindex and display headers*/
.catbg , tr.catbg td , .catbg3 , tr.catbg3 td
{
	background: #D78730;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}
.catbg2 , tr.catbg2 td
{
	background: #D78730;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}
.catbg, .catbg2, .catbg3
{
}
.catbg, .catbg2
{
	font-weight: bold;
}
.catbg3, tr.catbg3 td, .catbg3 a:link, .catbg3 a:visited
{
	font-size: 95%;
	color: white;
	text-decoration: none;
}
.catbg a:link, .catbg a:visited , .catbg2 a:link, .catbg2 a:visited
{
	color: white;
	text-decoration: none;
}
.catbg a:hover, .catbg2 a:hover, .catbg3 a:hover
{
	text-decoration: underline;
}
/* This is used for tables that have a grid/border background color (such as the topic listing.) */
/* This is used on tables that should just have a border around them. */
.bordercolor, .tborder
{
	padding: 1px;
	border: 1px solid #999;
	background-color: #FFFFFF;
}
.tborder .bordercolor
{
	padding: 0;
	border: 0;
}
/* Default font sizes: small (8pt), normal (10pt), and large (14pt). */
.smalltext
{
	font-size: x-small;
	font-family: verdana, sans-serif;
}
.middletext
{
	font-size: 90%;
}
.normaltext
{
	font-size: small;
}
.largetext
{
	font-size: large;
}


/* Posts and personal messages displayed throughout the forum. */
.post, .personalmessage
{
	width: 100%;
	overflow: auto;
	line-height: 1.3em;
}

/* All the signatures used in the forum.  If your forum users use Mozilla, Opera, or Safari, you might add max-height here ;). */
.signature
{
	width: 100%;
	overflow: auto;
	padding-bottom: 3px;
	line-height: 1.3em;
}

/* Sometimes there will be an error when you post */
.error
{
	color: red;
}


/* definitions for the main tab, active means the tab reflects which page is displayed */
.maintab_first, .maintab_back, .maintab_last, .maintab_active_first, .maintab_active_back, .maintab_active_last
{
}
.maintab_back, .maintab_active_back
{
	padding: 0 0 1px 1px;
	border: solid 1px #aaa;
	background: white;
	border-top: none;
}

.maintab_first
{
}
.maintab_back
{
}
.maintab_last
{
}
.maintab_active_first
{
}
.maintab_active_back
{
}
.maintab_active_last
{
}

/* how links behave in main tab. */
.maintab_back a:link , .maintab_back a:visited, .maintab_active_back a:link , .maintab_active_back a:visited
{
	display: block;
	padding: 4px;
	background: #e0e0e0;
	float: left;
	margin-right: 1px;
	font-size: x-small;
	color: black;
}
.maintab_active_back a:link , .maintab_active_back a:visited
{
	background: #F1A14A;
	color: white;
	text-decoration: none;
}
.maintab_back a:hover, .maintab_active_back a:hover
{
	background: #F1A14A;
	color: white;
	text-decoration: none;
}
/* definitions for the mirror tab */
.mirrortab_first, .mirrortab_back, .mirrortab_last, .mirrortab_active_first, .mirrortab_active_back, .mirrortab_active_last
{
}
.mirrortab_back, .mirrortab_active_back
{
	padding: 1px 0 0 1px;
	border: solid 1px #aaa;
	background: white;
	border-bottom: none;
}

.mirrortab_first
{
}
.mirrortab_back
{
}
.mirrortab_last
{
}
.mirrortab_active_first
{
}
.mirrortab_active_back
{
}
.mirrortab_active_last
{
}

/* how links behave in mirror tab. */
.mirrortab_back a:link , .mirrortab_back a:visited, .mirrortab_active_back a:link , .mirrortab_active_back a:visited
{
	display: block;
	padding: 4px;
	background: #e0e0e0;
	float: left;
	margin-right: 1px;
	font-size: x-small;
	color: black;
}

.mirrortab_active_back a:link , .mirrortab_active_back a:visited
{
	background: #F1A14A;
	color: white;
	text-decoration: none;
}
.mirrortab_back a:hover, .mirrortab_active_back a:hover
{
	background: #F1A14A;
	color: white;
	text-decoration: none;
}

/* The AJAX notifier */
#ajax_in_progress
{
	background: #32CD32;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 18pt;
	padding: 3px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#backbg
{
	background: url(images/img/backtop.jpg) top left repeat-x;
}
#backlb
{
	background: url(images/img/backlb.jpg) 0 48px no-repeat;
}
#backrb
{
	background: url(images/img/backrb.jpg) 100% 48px no-repeat;
}
#backlt
{
	background: url(images/img/backlt.jpg) no-repeat;
}
#backrt
{
	background: url(images/img/backrt.jpg) top right no-repeat;
	padding: 48px 50px 0 50px;
}
#mainframe
{

}
#topmenu
{
	float: right;
	height: 66px;
	background: url(images/img/logo.jpg) top right no-repeat;
}
#topmenu ul
{
	padding: 0 20px 0 0;
	margin: 0;
	list-style: none;
}
#topmenu li
{
	float: left;
	padding: 5px;
	margin: 0;
}
#topmenu li a
{
	color: white;
}


#topframe
{
	background: url(images/img/topbg.jpg) repeat-x;
	height: 66px;
	border: solid 1px white;
}
#content
{
	border: solid 1px #999;
	clear: both;
	padding: 35px 15px 15px 15px;
	background: url(images/img/top2bg.jpg) top left #E9EEEC repeat-x;
	margin-bottom: 40px;
}
#innerborder
{
	border: solid 1px #bbb;
	background: #D1E0E6;
	padding: 30px;
	overflow: auto;
}
#menudiv
{
	position: absolute;
	top: 126px;
	left: 82px;
}
* html #menudiv
{
	top: 127px;
}
ul#menuhoriz
{
	padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	list-style: none;
	left: 40px;
	height: 60px;
}
ul#menuhoriz li
{
	padding: 0;
	margin: 0;
	float: left;
}
ul#menuhoriz li a
{
	display: block;
	width: 47px;
	height: 53px;
}
ul#menuhoriz li a span,ul#menuvert li a span
{
	display: none;
}
/* home button */
a#homebtn
{
	background: url(images/img/home.jpg) no-repeat;
}
a#homebtn:hover
{
	background: url(images/img/home-over.jpg) no-repeat;
}
/* help button */
a#helpbtn
{
	background: url(images/img/help.jpg) no-repeat;
}
a#helpbtn:hover
{
	background: url(images/img/help-over.jpg) no-repeat;
}
/* forum button */
a#forumbtn
{
	background: url(images/img/forum.jpg) no-repeat;
}
a#forumbtn:hover
{
	background: url(images/img/forum-over.jpg) no-repeat;
}
/* search button */
a#searchbtn
{
	background: url(images/img/search.jpg) no-repeat;
}
a#searchbtn:hover
{
	background: url(images/img/search-over.jpg) no-repeat;
}
/* profile button */
a#profilebtn
{
	background: url(images/img/profile.jpg) no-repeat;
}
a#profilebtn:hover
{
	background: url(images/img/profile-over.jpg) no-repeat;
}
/* admin button */
a#adminbtn
{
	background: url(images/img/admin.jpg) no-repeat;
}
a#adminbtn:hover
{
	background: url(images/img/admin-over.jpg) no-repeat;
}
/* pm button */
a#pmbtn
{
	background: url(images/img/pm.jpg) no-repeat;
}
a#pmbtn:hover
{
	background: url(images/img/pm-over.jpg) no-repeat;
}
/* calendar button */
a#calendarbtn
{
	background: url(images/img/calendar.jpg) no-repeat;
}
a#calendarbtn:hover
{
	background: url(images/img/calendar-over.jpg) no-repeat;
}
/* register button */
a#registerbtn
{
	background: url(images/img/register.jpg) no-repeat;
}
a#registerbtn:hover
{
	background: url(images/img/register-over.jpg) no-repeat;
}
/* login button */
a#loginbtn
{
	background: url(images/img/login.jpg) no-repeat;
}
a#loginbtn:hover
{
	background: url(images/img/login-over.jpg) no-repeat;
}
/* login button */
a#logoutbtn
{
	background: url(images/img/login.jpg) no-repeat;
}
a#logoutbtn:hover
{
	background: url(images/img/login-over.jpg) no-repeat;
}
/* shop button */
a#shopbtn
{
	background: url(images/img/shop.jpg) no-repeat;
}
a#shopbtn:hover
{
	background: url(images/img/shop-over.jpg) no-repeat;
}
/* arcade button */
a#arcadebtn
{
	background: url(images/img/arcade.jpg) no-repeat;
}
a#arcadebtn:hover
{
	background: url(images/img/arcade-over.jpg) no-repeat;
}
/* gallery button */
a#gallerybtn
{
	background: url(images/img/gallery.jpg) no-repeat;
}
a#gallerybtn:hover
{
	background: url(images/img/gallery-over.jpg) no-repeat;
}





#showtext
{
	color: #888;
	font-weight: bold;
	position: relative;
	top: -58px;
	left: -40px;
	font-size: 90%;
}
#showtext_outer
{
	position: absolute;
	z-index: 90;
}
h1#forum
{
	font-family: arial, sans-serif;
	font-size: 18px;
	padding: 8px 0 0 20px;
	margin: 0;
	color: white;
	margin: 0;
}
#topframe h1 a
{
	color: white;
}
h2#greeting
{
	font-family: arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	padding: 8px 0 0 20px;
	margin: 0;
	color: white;
	border: 0;
}
#topframe h2 a
{
	color: white;
}
#switchform
{
	float: left;
	padding: 5px;
	margin: 4px 4px 4px 60px;
	font-size: x-small;
	color: white;
}